<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Style -->
    <link rel="stylesheet" href="/CSS/style.css">

    <title>Hospital</title>
    
  </head>
  
	<div id="mySidenav" class="sidenav">
	  <a href="/home" id="home">Home</a>
	  <a href="/login" id="logout">Logout</a>
	</div>

	<header class="header">
        <div>
			<h1>Hospital Medical Records 🩺 </h1>
        </div>
    </header>
  
    <div class="d-lg-flex half">
      <div class="bg order-1 order-md-2" style="background-image: url('/IMAGES/home.jpg');"></div>
      <div class="contents order-2 order-md-1">

        <div class="container container-default">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7">
              <!--
              <h3 class="title-top">Welcome <span th:text="${myCitizen.firstName}"></span></h3>
              <h4 class="position">Role: <span th:text="${myCitizen.role}"></span></h4>
              -->
              <h3 class="title-top">Welcome </h3>
              <h4 class="position">Role: </h4>
              <p class="mb-4">Medical excellence every day.</p>
              
              <button onclick="location.href='patient/medical/record'" class="form-group btn btn-block btn-primary">Create Patient Record</button>
              <br>
              <button onclick="location.href='medical/records'"class="form-group btn btn-block btn-primary">Medical Records</button>
              <br>
              <button onclick="location.href='patient/register'" class="form-group btn btn-block btn-primary">Register Patient</button>
              <br>
              <button onclick="location.href='my/medical/record'" class="form-group btn btn-block btn-primary">My Medical Record</button>
              <br>
              <button onclick="location.href='admin/register'" class="form-group btn btn-block btn-primary">Register Personnel</button>

            </div>
          </div>
        </div>
      </div>
    </div>
    
    
  </body>
</html>