<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Style -->
    <link rel="stylesheet" href="/CSS/style.css">

    <title>Hospital</title>
  </head>
  <body>
  
    <header>
      <h1>Hospital</h1>
    </header>

    <div class="d-lg-flex half">
      <div class="bg order-1 order-md-2" style="background-image: url('/IMAGES/register.png');"></div>
      <div class="contents order-2 order-md-1">

        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7">
              <h3 class="title-top">Register</h3>
              <p class="mb-4">Medical excellence every day.</p>

              <!-- Register Form -->
              <form action="#" th:action="@{/api/register}" th:object="${citizen}" method="post">
                <div class="form-group first">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" placeholder="username" id="username" required th:field="*{username}">
                </div>
                <p class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                <div class="form-group">
                    <label for="username">Citizen Card</label>
                    <input type="number" class="form-control" placeholder="ex: 15720676" id="username" required th:field="*{id}">
                </div>
                <p class="alert alert-danger" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></p>
                <div class="form-group last mb-3">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" placeholder="password" id="password" required th:field="*{password}">
                </div>
                <p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                <!--
                <div class="form-group last mb-3">
                    <label for="password">Re-type Password</label>
                    <input type="password" class="form-control" placeholder="re-type password" id="password" required>
                </div>
                -->
                <input type="submit" value="Register" class="btn btn-block btn-primary">
                <p class="register">
                  Already have an account? <a th:href="@{/api/login}">Login</a>
                </p>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>