<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Style -->
    <link rel="stylesheet" href="/CSS/style.css">

    <title>Hospital</title>
  </head>
  <body>
  
  	<div id="mySidenav" class="sidenav">
	  <a href="/home" id="home">Home</a>
	  <a href="/login" id="logout">Logout</a>
	</div>
	
    <header>
      <h1>Hospital Medical Records 🩺</h1>
    </header>

    <div class="d-lg-flex half">
      <div class="bg order-1 order-md-2" style="background-image: url('/IMAGES/register.png');"></div>
      <div class="contents order-2 order-md-1">
      
		<h3 class="title1">Register Personnel</h3>
        
        <div class="container container-register">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7">
				
			  <p class="alert alert-danger" th:if="${message != ''}" th:text="${message}"></p>	
			
              <!-- Register Form -->
              <form action="#" th:action="@{/admin/register}" th:object="${citizen}" method="post">
              
                <p>Citizen Card</p>
				<div class="form-group last mb-3">
                    <label for="username">Citizen Card</label>
                    <input type="number" class="form-control" placeholder="E.g. 15720676" id="username" required th:field="*{id}">
                </div>
                <p class="alert alert-danger" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></p>
                <p>Role</p>
                <div class="form-group last mb-3">
                    <label for="role">Admin</label>
                    <input type="radio" id="admin" name="role" value="Admin" required th:field="*{role}">
                    <label for="role">Doctor</label>
                    <input type="radio" id="doctor" name="role" value="Doctor" required th:field="*{role}">
                    <label for="role">Nurse</label>
                    <input type="radio" id="nurse" name="role" value="Nurse" required th:field="*{role}">
                    <label for="role">Clinical assistant</label>
                    <input type="radio" id="clinical_assistant" name="role" value="Clinical assistant" required th:field="*{role}">
                    <label for="role">Porter</label>
                    <input type="radio" id="porter" name="role" value="Porter" required th:field="*{role}">
                    <label for="role">Volunteer</label>
                    <input type="radio" id="volunteer" name="role" value="Volunteer" required th:field="*{role}">
                    <label for="role">Patient assistant</label>
                    <input type="radio" id="patient_assistant" name="role" value="Patient assistant" required th:field="*{role}">
                    <label for="role">Ward Clerk</label>
                    <input type="radio" id="ward_clerk" name="role" value="Ward Clerk" required th:field="*{role}">
                </div>
                <p class="alert alert-danger" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></p>
                <p>Name</p>
                <div class="form-group last mb-3">
                    <label for="first-name">First Name</label>
                    <input type="text" class="form-control" placeholder="E.g. John" id="first-name" required th:field="*{firstName}">
                    <label for="last-name">Last Name</label>
                    <input type="text" class="form-control" placeholder="E.g. Williams" id="last-name" required th:field="*{lastName}">
                </div>
	                <p class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
	                <p class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>

                <p>Birth Date</p>
                <div class="form-group last mb-3">
                    <label for="birthday">Birthday</label>
                    <input type="date" class="form-control" id="birthday" required th:field="*{birthday}">
                </div>
                    <p class="alert alert-danger" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></p>

                <p>Email</p>
                <div class="form-group last mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" placeholder="E.g. yourname@gmail.com" id="email" th:field="*{email}">
                </div>
                    <p class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

                <p>Phone Number</p>
                <div class="form-group last mb-3">
                    <label for="phone">Phone Number</label>
                    <input type="number" class="form-control" placeholder="E.g. 938367543" id="phone" required th:field="*{phoneNumber}">
                </div>
                    <p class="alert alert-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>

                <p>City</p>
                <div class="form-group last mb-3">
                    <label for="city">City</label>
                    <input type="text" class="form-control" placeholder="E.g. Lisbon" id="city" required th:field="*{city}">
                </div>
                    <p class="alert alert-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></p>
                <br>

                <input type="submit" value="Register" class="btn btn-block btn-primary">
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>