<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Laboratory</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    
    <!-- Style -->
    <link rel="stylesheet" href="/CSS/style.css">

</head>
<body style="padding:0;">
  
    <header>
      <h1>Laboratory Medical Records</h1>
    </header>

    <div class="d-lg-flex half">
      <div class="bg order-1 order-md-2" style="background-image: url('/IMAGES/login.jpg');"></div>
      <div class="contents order-2 order-md-1">

        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7">
              <h3 class="title-top">Login</h3>
              <p class="mb-4">Medical excellence every day.</p>
    
			     
			      <form method="post" action="#" th:action="@{/login}">
			      	<div class="form-group last">
				          <label for="username">Citizen Card</label>
				          <input type="number" id="username" name="username" class="form-control" placeholder="E.g. 15720676" required>
				    </div>
				    <div class="form-group last">
				          <label for="password">Password</label>
				          <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
			        </div>
			        <br>
			        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
			      </form>
				
			</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>